.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.cards{
  padding-top: 65px;
  background-color: rgb(233, 233, 233);
}
.headline-image{
  width: 100%;
  height: 200px;
}
.card{
  background-color: #fff;
  margin: 10px;
  -webkit-box-shadow: 4px 4px 29px -8px rgba(10,10,10,1);
  -moz-box-shadow: 4px 4px 29px -8px rgba(10,10,10,1);
  box-shadow: 4px 4px 29px -8px rgba(10,10,10,1);
}
ul{
  padding: 0;
}
ul li{
  display: block;
  margin-bottom: 20px;
}
ul li .card{
  padding: 20px;
}
.news-headline{
  margin:10px;
  padding: 10px;
  color: #222;
  font-size: 24px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cards a:hover{
  text-decoration: none;
}
.sweet-loading{
  margin-top: 300px;
  text-align: center;
  min-height: -webkit-fill-available;
}