
.header{
  width: 100%;
  position: fixed;
  z-index: 10000;
}
.heading{
  
  background-color:rgb(194, 42, 70);
  text-align: center;
  padding:10px;
}
.heading a{
  color: #d6d8da;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}